
html,body,table {
    font-family:ubuntu,helvetica;
}

body {
    background:rgb(50,50,50);
    background:white;
    margin:0px;
    margin-top:38px;
}

a, a:visited {
    color:rgb(60,99,147);
    text-decoration:none;
}

.btn, .panel-button {
    background: linear-gradient(to bottom, rgb(247,247,247) 0%,rgb(229,229,229) 100%);
    background: -webkit-linear-gradient(top, rgb(247,247,247) 0%,rgb(229,229,229) 100%);
    border:0px;
    margin:0px;
    vertical-align:middle;
    font-weight:normal;
    cursor:pointer;
    padding:2px;
    padding-left:6px;
    padding-right:6px;
    box-shadow: 1px 1px rgb(190,190,190);
    border-radius:4px;
    color:rgb(50,50,50);
}

.btn:hover, .panel-button:hover {
    background: linear-gradient(to bottom, rgb(237,237,237) 0%,rgb(219,219,219) 100%);
    box-shadow: 1px 1px rgb(180,180,180);
    color:black;
}

.btn-lg {
    font-weight:normal;
    margin:5px;
    vertical-align:middle;
    padding:4px;
    padding-left:8px;
    padding-right:8px;
}

.btn-lg > img {
    height:14px;
    vertical-align:middle;
    cursor:pointer;
}


/*---Header*/
#toolbar {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:0px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:0px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3374a5+0,044477+100 */
    background: rgb(51,116,165); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(51,116,165,1) 0%, rgba(4,68,119,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(51,116,165,1) 0%,rgba(4,68,119,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(51,116,165,1) 0%,rgba(4,68,119,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3374a5', endColorstr='#044477',GradientType=0 ); /* IE6-9 */

}

#toolbar span, #toolbar a, #toolbar a:visited {
    border:0px;
    background:rgba(50,50,50,0);
    color:white;
    cursor:pointer;
    text-decoration:none;
    max-height:34px;
    display:inline-block;
    padding:9px;
    font-size:14px;
    padding-left:10px;
    padding-right:10px;
}

#toolbar span img {
    height:14px;
    vertical-align:bottom;
}

#toolbar span:hover {
    color:white;
    background:rgba(220,220,220,0.2);
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}

#toolbar span.toolbar-active {
    background:rgb(255,255,255);
    color:black;
    border:1px outset rgb(220,220,220);
    border-bottom:0px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}

#import_section {
    background:rgba(85,170,127,0.3);
    color:rgb(85,170,127);
    border:1px solid rgb(210,210,210);
    border-radius:4px;
    padding:6px;
    font-size:0.8em;
    display:none;
}

#import_section > span {
    text-shadow: 1px 1px rgba(85,170,127,0.5);
    padding-right:20px;
    font-weight:bold;
    font-size:1.4em;
}

#download_element {
    display:none;
}

/*---Panel*/
.panel {
    position:fixed;
    top:34px;
    left:0;
    width:300px;
    max-width:100%;
    display:none;
    background:rgba(240,240,240,1);
    color:black;
    height:100%;
    border-right:1px solid rgba(180,180,180,1);
    border-left:0px;
    overflow:auto;
}

.panel-header {
    font-weight:bold;
    padding:4px;
    padding-left:10px;
    padding-top:10px;
    font-size:1.3em;
}

.panel-close {
    float:right;
    margin-right:6px;
    cursor:pointer;
    font-size:12px;
    font-weight:normal;
    padding:5px;
}

.panel-content {
    padding:10px;
    padding-bottom:50px;
}

.panel-content textarea {
    border-radius:4px;
    border:0px;
    padding:4px;
    font-family:ubuntu,helvetica;
}

.panel-button {
    padding:4px;
    vertical-align:bottom;
}

.panel-button img {
    height:12px;
}

.panel-item img {
    height:14px;
}

/*---Main Panel*/
.panel-item {
    padding:4px;
    border-bottom:1px solid rgba(200,200,200,0.5);
    cursor:pointer;
}

/*---Menu*/
.menu-item {
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    cursor:pointer;
}

.menu-item:hover {
    background:rgb(178,226,240);
}
.menu-separator {
    display:block;
    height:1px;
    background:rgb(220,220,220);
}

/*---Task Panel*/
#task-edit-title {
    width:100%;
    height:60px;
}

#task-edit-notes {
    width:100%;
    height:120px;
}

#task-edit-extra {
    font-size:0.8em;
    vertical-align:middle;
}

#task-edit-extra input {
    margin:3px;
    border:0px;
    border-radius:4px;
    padding-left:4px;
}

#task-edit-priority {
    width:50px;
}

#task-edit-status {
    display:inline-block;
}

#task-edit-status span {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    height:30px;
    width:36px;
}

.task-edit-status-select {
    border:1px solid rgb(100,100,100);
    border:1px inset gray;
    background:white;
    border-radius:4px;
}

label img {
    height:16px;
}

.snooze {
    padding:6px;
    padding-top:8px;
}

.snooze img {
    height:24px;
}

/*---Category Panel*/
#category-panel {
    top:80px;
    border-top:1px solid rgba(100,100,100,0.5);
    border-top-right-radius:4px;
}
.panel-catg {
    padding:px;
    border-bottom:1px solid rgba(100,100,100,0.5);
}

.panel-item:hover,.panel-catg:hover {
    background:rgba(220,220,220,0.5);
    border-radius:4px;
}

.panel-catg-delete {
    float:right;
    cursor:pointer;
    height:12px;
}

/*---Status Dialog*/
#status-dlg {
    display:none;
    background:rgb(250,250,250);
    background:rgb(255,255,255);
    border-radius:4px;
    box-shadow:1px 1px rgb(220,220,220);
    border-top:0px;
    border-top-right-radius:0px;
    border-top-left-radius:0px;
}

.status-close {
    border-top:1px solid rgb(180,180,180);
    text-align:center;
    font-size:0.9em;
}

.status-sel.active {
    font-weight:bold;
}
/*---*/
/*---Projects*/
#project-list {
    display:flex;
    flex-wrap:wrap;
}
.project-card, .project-list-card {
    flex:1;
    border-radius:4px;
    background: rgb(240,240,240);
    box-shadow:1px 1px rgba(50,50,50,0.3);
    margin:1px;
    flex-basis:250px;
    cursor:pointer;
}

.project-list-card {
    flex-basis:300px;
}
.project-list-card:hover {
    background: rgb(225,225,225);
}

.project-title {
    font-size:1.4em;
    padding:4px;
    padding-left:8px;
    /*cursor:pointer;*/
    text-shadow: 1px 1px rgb(190,190,190);
}

.count {
    border-radius:14px;
    height:26px;
    width:26px;
    display:inline-block;
    float:right;
    text-align:center;
    font-size:13px;
    padding-top:5px;
    box-sizing:border-box;
    margin-left:4px;
    box-shadow: 1px 1px rgba(180,180,180,0.8);
}
.count.next {
    background:rgb(31,87,156);
    background: linear-gradient(to bottom, #4096ee 0%,#2574db 100%);
    color:white;
}
.count.backlog {
    background:rgb(105,105,105);
    background: linear-gradient(to bottom, #b5bdc8 0%,#5e626b 0%,#435560 100%);
    color:white;
}

.project-title-text {
    cursor:pointer;
}
.project-page {
    flex:1;
    border-radius:4px;
    background: rgb(240,240,240);
    box-shadow:1px 1px rgba(50,50,50,0.3);
    /*padding:4px;*/
    margin:1px;
    flex-basis:400px;
    margin:2px;
}
#page-project {
    padding:4px;
    display:flex;
    flex-wrap:wrap;
}

.project-page .project-title {
    height:30px;
}

/*---Project Menu*/
#project-menu {
    display:none;
    min-width:160px;
    background:rgb(250,250,250);
    border-radius:4px;
    box-shadow:1px 1px rgb(220,220,220);
    border:1px outset rgb(220,220,220);
    border-top-right-radius:0px;
}
.btn-project-menu {
    float:right;
    padding:2px;
    height:26px;
    width:34px;
    margin:0px;
    text-align:center;
    background:transparent;
    border:0px;
    box-shadow:none;
    background-image:url('img/menu.png');
    background-repeat:no-repeat;
    background-position: center center;
    cursor:pointer;
}

.btn-project-menu:hover {
    background-color:transparent;
    box-shadow:none;
    border:0px;
    background-image:url('img/menu_dark.png');
    background-repeat:no-repeat;
    background-position: center center;
}

.btn-project-menu.active {
    background-image:url('img/menu_dark.png');
    background-repeat:no-repeat;
    background-position: center center;
    background-color:white;
    border:1px outset rgb(220,220,220);
    border-top-right-radius:4px;
    border-top-left-radius:4px;
}

/*---*/
/*---Categories*/
.catg-list {
    display:flex;
    flex-wrap:wrap;
    
}
.catg-card {
    text-align:left;
    flex:1;
    flex-basis:300px;
    border-top:1px solid rgb(220,220,220);
    border-right:1px solid rgb(220,220,220);

}
.catg-title {
    font-size:1.2em;
    display:inline-block;
    padding:2px;
    padding-left:6px;
    color:rgb(60,60,60);
    height:18px;
}

.catg-add {
    display:inline-block;
    float:right;
    width:28px;
    height:18px;
    background-image:url('img/new.png');
    background-repeat:no-repeat;
    background-position: center center;
}

.btn-catg {
    float:right;
    font-weight:normal;
    font-size:0.9rem;
    padding:4px 8px 4px 8px;
    border:1px solid rgba(200,200,200,0.7);
    border-top:0px;
    border-right:0px;
    border-top-left-radius:0;
    border-bottom-right-radius:0;
    background:none;
    box-shadow:none;
}

.btn-catg > img {
    height:14px;
    vertical-align:middle;
    cursor:pointer;
}

.catg-tasks {
    display:table;
    width:100%;
}

/*---Task*/
.task-list {
    padding:4px;
}
.task-card {
    background:rgb(255,255,255);
    border-radius:4px;
    padding:0px;
    font-size:1rem;
    cursor:pointer;
    display:table-row;
    vertical-align:middle;
}

.task-card.bug {
    background:rgb(236,255,234);   
}

.task-card.important {
    background:rgb(252,255,234);   
}

.task-card:hover {
    background:rgb(250,250,250);
}

.task-card.norush {
    color:rgb(90,90,90);
}

.task-card.backlog {
    color:rgb(120,120,120);
}
.task-card.future {
    color:rgb(150,150,150);
}

.task-card.done, .task-card.cancel {
    background:rgb(245,245,245);
    color:rgb(150,150,150);
    text-decoration:line-through;
}

.task-card img {
    vertical-align:middle;
}

/*Task Table Cells*/
.tblc {
    border-top:2px solid rgb(240,240,240);
    border-bottom:1px solid rgb(220,220,220);
    vertical-align:middle;
    height:30px;
}

.task-text {
    display:table-cell;
    text-align:left;
    width:100%;
}

.task-status {
    display:table-cell;
    min-width:36px;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    background-repeat:no-repeat;
    background-position: center center;
}

.task-status.next {
    background-image:url('img/next.png');
}

.task-status.norush {
    background-image:url('img/next_norush.png');
}

.task-status.backlog {
    background-image:url('img/backlog.png');
}

.task-status.future {
    background-image:url('img/future.png');
}

.task-status.done {
    background-image:url('img/done.png');
}

.task-status.cancel {
    background-image:url('img/cancel.png');
}

.task-status.idea {
    background-image:url('img/idea.png');
}

/*---Status Dialog*/
#status-dlg {
    display:none;
    background:rgb(250,250,250);
    background:rgb(255,255,255);
    border-radius:4px;
    box-shadow:1px 1px rgb(220,220,220);
    border-top:0px;
    border-top-right-radius:0px;
    border-top-left-radius:0px;
}

.status-close {
    border-top:1px solid rgb(180,180,180);
    text-align:center;
    font-size:0.9em;
}

.status-sel.active {
    font-weight:bold;
}


/*---Task - Priority*/
.task-priority {
    display:table-cell;
    min-width:28px;
    background-repeat:no-repeat;
    background-position: center center;
    background-size:16px 16px;
    font-size:0.6rem;
    text-align:center;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    border-right:1px solid rgb(220,220,220);
}

.task-priority.bug {
    background-image:url('img/bug.png');
}

.task-priority.important {
    background-image:url('img/important.png');
}

.task-priority.idea {
    background-image:url('img/idea.png');
}

.task-target-date {
    font-size:0.8em;
    color:rgb(60,121,158);
    min-width:44px;
    display:table-cell;
    text-align:center;
}

/*---Reports*/
.report-page {
    padding:4px;
}
.report-page h1 {
    font-size:1.6rem;
    padding:0px;
    margin:0px;
    text-align:center;
}
.report-page h2 {
    font-size:1.4rem;
    margin:0px;
    padding:0px;
    margin-top:10px;
}
.report-task {
    margin-left:10px;
    padding:2px;
}


/*---*/


#nothing-todo, #page-home {
    text-align:center;
    display:none;
}

/*---*/





/*---Mobile*/
@media ( max-width: 500px ) {

}

@media ( max-width: 340px ) {
    .tblc {
        height:36px;
    }   
    .task-text {
        font-size:0.8rem;
    }
    .task-target-date {
        font-size:0.6rem;
        min-width:36px;
    }
    .btn-catg {
        padding:5px;
    }
    
    /*Safari Fix for Text Fields*/
    input[type="text"], input[type="number"], textarea {
        font-size:16px;
    }
}