<!DOCTYPE html>
<html manifest="paddle.appcache">
<!--<html>-->
    
<head>
    <title>Paddle</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<!--Icons-->
    <link rel=icon href="img/paddle.png" type="image/png">
    <!---Mobile Tags-->
	<link rel="icon" sizes="196x196" type="image/png" href="img/paddle196.png" />
	<link rel="shortcut icon"  href="img/paddle.png" />
    <link rel="apple-touch-icon" href="img/paddle.png">
    <link rel="apple-touch-startup-image" href="img/paddle.png">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">

    <link href="paddle.css" rel="stylesheet" media="screen">
    <script src="dexie.js"></script>
    <!--<script src="vue.js"></script>-->
    <script src="jquery.js"></script>
    <script src="mustache.js"></script>
    <script src="paddle-data.js"></script>
    <script src="paddle-ui.js"></script>
</head>

<body>


<!--- -->
<!---Template - Project List-->
<script id="project-list-template" type="text/template">
    <div id="project-list">
    {{#projects}}
        <div class="project-list-card" id="project-{{id}}">
            <div class="project-title" onclick="viewProject({{id}})">{{name}}
            {{#backlog}}<span class="count backlog" title="in queue tasks">{{.}}</span>{{/backlog}}
            {{#next}}<span class="count next" title="next tasks">{{.}}</span>{{/next}}
            </div>
        </div>
    {{/projects}}
    </div>
    <br>
    <button class="btn btn-lg" onclick="newProject()"><img src="img/new.png"> new project</button>
</script>

<!---Template - Project Page-->
<script id="project-template" type="text/template">
    <div class="project-page" id="project-page-{{proj_id}}">
        <div class="project-title" data-proj-id="{{proj_id}}"><span class="project-title-text">{{proj_title}}</span>
        {{#view_menu}}<a title="Project Menu" class="btn btn-project-menu" onclick="projectMenuShow($(this))"></a>{{/view_menu}}
        </div>
        <div class="catg-list">
        {{#categories}}
            <div class="catg-card" id="catg-{{cat_id}}" {{^visible}}style="display:none"{{/visible}} data-id={{cat_id}}>
                <div class="catg-title" >{{name}}</div>
                <a title="Add Task" class="btn btn-catg" onclick="newTask({{proj_id}},{{cat_id}})"><img src="img/new.png"> add</a>
                <div class="task-list">
                {{#tasks}}
                    <div class="task-card  {{status}} {{extra_status}}"  id="task-{{id}}" data-id="{{id}}">
                        <span class="tblc task-status {{status}} {{extra_status}}"></span>
                        <span class="tblc task-text">{{text}}</span>
                        <span class="tblc task-target-date">{{target_date}}</span>
                        <span class="tblc task-priority {{priority}}">{{priority_text}}</span>
                    </div>
                {{/tasks}}
                </div>
            </div>
        {{/categories}}
        </div>
    </div>
</script>

<!---Template - Tasks-->
<script id="task-template" type="text/template">
    <div class="task-card  {{status}} {{extra_status}}"  id="task-{{id}}" data-id="{{id}}">
        <span class="tblc task-status {{status}} {{extra_status}}"></span>
        <span class="tblc task-text">{{text}}</span>
        <span class="tblc task-target-date">{{target_date}}</span>
        <span class="tblc task-priority {{priority}}">{{priority_text}}</span>
    </div>
</script>

<!---Template - Report-->
<script id="report-template" type="text/template">
    {{#dates}}
        <div class="report-page">
        <h2>{{title}}</h2>
        {{#projects}}
            <div class="project-card">
            <div class="project-title">{{name}}</div>
            {{#tasks}}
                <div class="report-task"><img src="img/{{status}}.png">{{text}}</div>
            {{/tasks}}
            </div>
        {{/projects}}
        </div>
    {{/dates}}
</script>

<!---Toolbar-->
<div id="toolbar">
    <span onclick="$('#main-panel').toggle()"><img src="img/menu.png"></span>
    <span id="toolbar-projects" onclick="allProjects()">Projects</span>
    <span id="toolbar-next" onclick="nextView()">Next
    </span><span id="toolbar-today" onclick="todayView()">Today
    </span><span id="toolbar-week" onclick="weekView()">Week</span>
    <span id="toolbar-report" onclick="viewReport()">Reports</span>

</div>

<!---Import Section-->
<div id="import_section">
    <span>Import</span><br><br>
    <i><b>WARNING:</b> Importing will clear the current document/tasks</i><br><br>
    <input type="file" name="Select CSV file" id="datafile" size="40">
    <button class="btn" onclick="$('#import_section').hide()" style="float:right;">Cancel</button>
    <a id="download_element"></a>
</div>

<!---Projects-->
<div id="page-projects"></div>

<div id="page-project"></div>

<div id="page-report"></div>

<!---Nothing To DO-->
<div id="nothing-todo">
    <br><br>
    <h2>Nothing more to do today!</h2>
    <img src="img/beach_chair.jpg" style="box-shadow:1px 1px rgba(100,100,100,0.5);border-radius:5px;">
    <br><br>
    
    <br><br>
    <!--<button class="btn btn-lg" onclick="allPages()">View Projects</button>-->
</div>

<!---Home-->
<div id="page-home">
    <br><br>
    <h1>Paddle</h1>
    <img src="img/paddle.png">

    <br><br>
    <button class="btn btn-lg" onclick="allProjects()">View Projects</button>
</div>

<!--<div id="page-toolbar">-->
<!--    <button class="btn btn-lg" onclick="newPage()"><img src="img/new.png"> new project</button>-->
<!--</div>-->

<!--- -->


<!---Statusbar-->
<div id="statusbar"></div>

<!--- -->

<!---Main Menu Panel-->
<div id="main-panel" class="panel">
    <div class="panel-header">
        <img src="img/paddle.png" style="height:20px;"> Paddle
        <span class="btn panel-close" onclick="$('#main-panel').hide()">close</span>
    </div>
    <div class="panel-content">
        <b>File</b>
        <br>
        <div class=" panel-item" onclick="$('#import_section').toggle();$('#main-panel').hide()"><img src="img/import.png"> Import</div>
        <div class="panel-item" title="Download json file" onclick="exportPaddle()"><img src="img/down.png"> Export</div>
        <br>
        <div class="panel-item" onclick="reloadAppCache()">Reload App</div>
        <!--<br>-->
        <a href="https://github.com/lucidlylogicole/paddle" target="_blank"><div class=" panel-item"> About Paddle</div></a>
        <br>
        <hr>
        Version: <span id="version"></span>
    </div>
    
</div>

<!---Task Edit Panel-->
<div id="task-panel" class="panel" style="width:400px;">
    <div class="panel-header">
        Edit Task
        <!--<span class="panel-button panel-close" onclick="editTaskSave()">ok/close</span>-->
        <button class="panel-button" onclick="editTaskSave()" style="width:80px;font-weight:bold;float:right;font-size:0.8rem;">OK</button>
        <button class="panel-button" onclick="closeTaskPanel()" style="width:80px;float:right;margin-right:2px;font-size:0.8rem;"> cancel </button>

    </div>
    <div class="panel-content" data-task-id="">
        <textarea id="task-edit-title" placeholder="task text"></textarea>
        <br>
        <div id="task-edit-status">
            <span style="width:60px;">Status: </span>
            <span id="task-edit-status-future" onclick="task_edit_status_click('future')" title="Future"><img src="img/future.png"></span>
            <span id="task-edit-status-backlog" onclick="task_edit_status_click('backlog')" title="Backlog"><img src="img/backlog.png"></span>
            <span id="task-edit-status-next" onclick="task_edit_status_click('next')" title="Next/Current"><img src="img/next.png"></span>
            <span id="task-edit-status-done" onclick="task_edit_status_click('done')" title="Done"><img src="img/done.png"></span>
            <span id="task-edit-status-idea" onclick="task_edit_status_click('idea')" title="Idea"><img src="img/idea.png"></span>
        </div>
        <div id="task-edit-extra">
            Priority: 
                &nbsp;&nbsp; <input type="radio" id="task-edit-priority-val" name="rb_priority" title="custom or no priority"><input type="text" id="task-edit-priority" title="priority/sort number"> 
                &nbsp;&nbsp; <input type="radio" id="task-edit-bug" name="rb_priority"><label for="task-edit-bug" title="bug"><img src="img/bug.png"></label>
                &nbsp;&nbsp; <input type="radio" id="task-edit-important" name="rb_priority"><label for="task-edit-important" title="important"><img src="img/important.png"></label>
                &nbsp;&nbsp; <input type="radio" id="task-edit-idea" name="rb_priority"><label for="task-edit-idea" title="idea"><img src="img/idea.png"></label>
                &nbsp;&nbsp; <input type="radio" id="task-edit-norush" name="rb_priority"><label for="task-edit-norush">No Rush</label>
            <!--<br>-->
            <div style="display:flex;">
                
            <span >
                &nbsp;&nbsp; Plan: <input type="date" id="task-edit-plan-date"> 
                <br>Target: <input type="date" id="task-edit-target-date">
            </span>
            <span style="flex:1;">
                <button class="btn snooze" onclick="planToday()" title="plan to do today"><img src="img/today.png"></button>
                <!--&nbsp;-->
                <button class="btn snooze" onclick="snooze(1)" title="snooze plan for 1 day"><img src="img/snooze1.png"></button>
                <button class="btn snooze" onclick="snooze(7)" title="snooze plan for 7 days"><img src="img/snooze7.png"></button>
            </span>
            </div>
        </div>
        <!--<br>-->

        <!--<br>-->
        <br>Notes<br>
        <textarea id="task-edit-notes" placeholder="notes"></textarea>
        
        <!--<br><br>-->
        <div style="font-size:0.7em;color:rgb(130,130,130);">
            <br>
            <b>Created: </b><span id="task-created"></span>&nbsp;&nbsp;&nbsp;&nbsp;
            <b>Complete: </b><span id="task-complete"></span>
        </div>
        
        <br><br>
        <button class="panel-button" onclick="deleteTask()" tabindex="-1"><img src="img/delete.png"> delete</button>
        <span style="float:right;font-size:0.6rem;" id="task-edit-id"></span>
    </div>
</div>

<!---Category Panel-->
<div id="category-panel" class="panel">
    <div class="panel-header">
        Categories
        <span class="panel-button panel-close" onclick="$('#category-panel').hide()">&nbsp; close &nbsp;</span>
        
    </div>
    <div class="panel-content">
        <button class="panel-button" onclick="newCategory()"><img src="img/new.png"> New Category</button>
        <hr>
        <div id="category_list"></div>
    </div>
</div>

<!---Project Menu-->
<div id="project-menu">
    <div class="menu-item" data-menu="toggle_backlog"><img src="img/backlog.png"> <span class="menu-view">Hide</span> Backlog</div>
    <div class="menu-item" data-menu="toggle_future"><img src="img/future.png"> <span class="menu-view">View</span> Future</div>
    <div class="menu-item" data-menu="toggle_done"><img src="img/done.png"> <span class="menu-view">View</span> Completed</div>
    <div class="menu-separator"></div>
    <div class="menu-item" data-menu="edit_category"><img src="img/edit.png"> Edit Categories</div>
    <div class="menu-separator"></div>
    <div class="menu-item" data-menu="rename_project"><span style="display:inline-block;width:16px;">&nbsp;</span> Rename Project</div>
    <div class="menu-item" data-menu="delete_project"><img src="img/delete.png"> Delete Project</div>
    <div class="menu-separator"></div>
    <div class="menu-item status-close" data-menu="close"> close menu</div>
</div>

<!---Task Status Popup-->
<div id="status-dlg">
    <div class="menu-item status-sel" data-status="done"><img src="img/done.png"> Complete</div>
    <div class="menu-item status-sel" data-status="next"><img src="img/next.png"> Next/Now</div>
    <div class="menu-item status-sel" data-status="backlog"><img src="img/backlog.png"> Backlog</div>
    <div class="menu-item status-sel" data-status="future"><img src="img/future.png"> Future</div>
    <div class="menu-item status-sel" data-status="cancel"><img src="img/cancel.png"> Cancel</div>
    <div class="menu-item status-sel status-close" data-status="close"> close menu</div>
</div>

<script>
    // allProjects()
    $('#nothing-todo').hide()
    // $('#page-home').hide()
</script>

</body>
</html>